<div class="container">
    <main>
        <div class="">
          <h4 class="mb-3">New Bulk Session</h4>
          <form class="needs-validation" (ngSubmit)="onSubmitBulk()" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">

                <div class="form-group">
                <label for="startDateTime" class="form-label">Session Range Start Date Time</label>
                <input type="date" class="form-control"  name="startDateTime" [(ngModel)]="startDate" (ngModelChange)="this.startDate=$event">
                <div class="invalid-feedback">
                  Valid Start Date is required.
                </div>
            </div>

                <div class="form-group">
                <label for="endDate" class="form-label">Session Range End Date</label>
                <input type="date" class="form-control"  name="endDate" [(ngModel)]="endDate" (ngModelChange)="this.endDate=$event">
                <div class="invalid-feedback">
                  Valid End Date is required.
                </div>
            </div>

                <div class="form-group">
                    <label for="weekDaysToInclude">Week Day Selection</label>
                    <select multiple class="form-control" id="weekDaysToInclude" name="weekDaysToInclude" [(ngModel)]="weekDaysToInclude">
                      <option *ngFor="let day of daysOfWeek" [ngValue]="day.id">
                        {{ day.dayName }}
                   </option>
                    </select>
                  </div>

                  <div class="form-group">
                <label for="sessionType" class="form-label">Session Type</label>
                <input type="number" class="form-control" name="sessionType"  id="sessionType" [(ngModel)]="sessionType" placeholder="Session Type"  required>
                <div class="invalid-feedback">
                  Valid Session Type is required.
                </div>
            </div>

              </div>
            </div>
            <input type="submit" value="Create Bookings" class="btn btn-primary m-1" />
            <input type="reset" value="Reset" class="btn btn-warning m-1" />
            </form>
        </div>
    </main>
  </div>