<div class="container">
    <main>
        <div class="">
            <a [title]="'go back'"
                [routerLink]="['/dog-list']">
                Dog List
            </a>
          <h4 class="mb-3">Dog Record</h4>
          <form class="needs-validation" (ngSubmit)="onSubmit()" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="forename" class="form-label">Forename</label>
                <input type="text" class="form-control" name="forename" id="forename" [(ngModel)]="forename" placeholder="Forename" required>
                <div class="invalid-feedback">
                  Valid forename is required.
                </div>

                <label for="surname" class="form-label">Surname</label>
                <input type="text" class="form-control" name="surname" id="surname" [(ngModel)]="surname" placeholder="Surname"  required>
                <div class="invalid-feedback">
                  Valid surname is required.
                </div>

                <label for="breed" class="form-label">Breed</label>
                <select class="form-select" name="breed" id="breed" [(ngModel)]="breed" required>
                  <option *ngFor="let breed of breeds" [ngValue]="breed">{{breed.name}}
                </select>
                <div class="invalid-feedback">
                  Please select a breed.
                </div>

                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" name="description" id="description" [(ngModel)]="description" placeholder="description" required>
                <div class="invalid-feedback">
                  Valid description is required.
                </div>

                <label for="dob" class="form-label">DOB</label>
                <input type="date" class="form-control"  name="dob" [(ngModel)]="dob" (ngModelChange)="this.dob=$event">
                <div class="invalid-feedback">
                  Valid dob is required.
                </div>

                <label for="startDate" class="form-label">Start Date</label>
                <input type="date" class="form-control"  name="startDate" [(ngModel)]="startDate" (ngModelChange)="this.startDate=$event">
                <div class="invalid-feedback">
                  Valid startDate is required.
                </div>

                <label for="status" class="form-label">System Status</label>
                <input type="number" class="form-control" name="status"  id="status" [(ngModel)]="systemStatus" placeholder="System Status"  required>
                <div class="invalid-feedback">
                  Valid systemStatus is required.
                </div>
              </div>
            </div>
            <input type="submit" value="Save record" class="btn btn-block">
            <input type="reset" value="reset record" class="btn btn-block">
            </form>
        </div>
    </main>
  </div>