<div class="container">
    <div class="col order-2">
    <h3>Options</h3>
    <button *ngIf="!showEditOptions" type="button" class="btn btn-info" (click) = "showEdit()">Edit Registration</button>
    <button *ngIf="showEditOptions" type="button" class="btn btn-info" (click) = "saveRegistration()">Update Registrations</button>
    <button *ngIf="showEditOptions" type="button" class="btn btn-info" (click) = "showEdit()">Cancel Registration Edit</button>
    <button type="button" class="btn btn-danger" (click) = "showDelete()">Show Delete</button>
</div>

<div class="col order-1">
    <form class="needs-validation" (ngSubmit)="getSessions()" novalidate>
        <div class="row g-3">
          <div class="col-sm-6">
            <h3>Date Search</h3>
    
    <label for="startDate" class="form-label">Start Date</label>
    <input type="date" class="form-control"  name="startDate" [(ngModel)]="startDate" (ngModelChange)="this.startDate=$event">
    <div class="invalid-feedback">
      Valid start date is required.
    </div>
    
    <label for="endDate" class="form-label">End Date</label>
    <input type="date" class="form-control"  name="endDate" [(ngModel)]="endDate" (ngModelChange)="this.endDate=$event">
    <div class="invalid-feedback">
      Valid end date is required.
    </div>
    
    </div>
    </div>
    <input type="submit" value="Search" class="btn btn-block">
    <input type="reset" value="Reset" class="btn btn-block">
    </form>
    </div>

<div>
    <table class="table">
        <thead class="thead-dark">
            <th>ID</th>
            <th>Session Name</th>
            <th>Session Time</th>
            <th>Dog Name</th>
            <th>Status</th>
            <th>Note</th>
            <th *ngIf="showDeleteOptions"></th>
        </thead>

        <tbody>
            <tr *ngFor="let booking of bookingReg">
            <td>{{booking.id}}</td>
            <td>{{booking.session.sessionName}}</td>
            <td>{{booking.session.sessionDateTime}}</td>
            <td>{{booking.dog.forename}} {{booking.dog.surname}}</td>
            <td> 
                <span *ngIf="!showEditOptions" >{{booking.registrationDetails.registrationStatus}}</span>
            <span *ngIf="showEditOptions">
                <select class="form-select" name="registrationstatus" id="pregistrationstatusresent" [(ngModel)]="booking.registrationDetails.registrationStatus" required>
                    <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                  </select>
                </span>
            <td>
                <span *ngIf="!showEditOptions" >{{booking.registrationDetails.note}}</span>
            <span *ngIf="showEditOptions">
                <input type="text" name="note"id="text" [(ngModel)]="booking.registrationDetails.note" value="{{booking.registrationDetails.note}}" placeholder="Note">
                </span>
            </td>
            <td *ngIf="showDeleteOptions">                
                <button  *ngIf="!delete" type="button" class="btn btn-danger" (click) = "deleteButton()">Delete</button>
                <button *ngIf="delete"  type="button" class="btn btn-danger" (click) = "deleteRegistration(booking.registrationDetails.id ?? 0)">Confirm Delete</button>
                <button *ngIf="delete"type="button" class="btn btn-primary" (click) = "deleteButton()">Cancel</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>

</div>