<div class="container">
    <main>
        <div class="">
          <form class="needs-validation" (ngSubmit)="onSubmit()" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title" [(ngModel)]="title" placeholder="Title" required>
                <div class="invalid-feedback">
                  Valid title is required.
                </div>

                <label for="forename" class="form-label">Forename</label>
                <input type="text" class="form-control" name="forename" id="forename" [(ngModel)]="forename" placeholder="Forename" required>
                <div class="invalid-feedback">
                  Valid forename is required.
                </div>

                <label for="surname" class="form-label">Surname</label>
                <input type="text" class="form-control" name="surname" id="surname" [(ngModel)]="surname" placeholder="Surname"  required>
                <div class="invalid-feedback">
                  Valid surname is required.
                </div>

                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email" [(ngModel)]="email" placeholder="Email"  required>
                <div class="invalid-feedback">
                  Valid email is required.
                </div>

                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" [(ngModel)]="phoneNumber" placeholder="Phone Number" required>
                <div class="invalid-feedback">
                  Valid phone number is required.
                </div>

                <label for="contactPriority" class="form-label">Contact Priority</label>
                <input type="text" class="form-control" name="contactPriority" id="contactPriority" [(ngModel)]="contactPriority" placeholder="Contact Priority" required>
                <div class="invalid-feedback">
                  Valid contact priority is required.
                </div>

              </div>
            </div>
            <input type="submit" value="Save record" class="btn btn-block">
            <input type="reset" value="reset record" class="btn btn-block">
            <button type="button" class="btn btn-primary" (click) = "cancel()">Cancel</button>
            </form>
        </div>
    </main>
  </div>