<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" [title]="'Home'"
    [routerLink]="['/']">
    Home</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" [title]="'Dog List'"
      [routerLink]="['/dog-list']">
      Dog List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [title]="'Breed List'"
      [routerLink]="['/breeds']">
      Breed List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [title]="'Staff List'"
      [routerLink]="['/staff-list']">
      Staff List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [title]="'Session List'"
      [routerLink]="['/session-list']">
      Session List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [title]="'Session List'"
      [routerLink]="['/take-registration']">
      Take A Register</a>
    </li>
  </ul>