<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      [title]="'Home'"
      [routerLink]="['/']"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <span class="fs-2">Doggy Day Care</span>
    </a>

    <ul
      *ngIf="inloggedInUser && loggedInStatus"
      class="nav nav-pills mb-auto fs-5"
    >
      <li class="nav-item text-white">
        <a
          class="nav-link link-body-emphasis"
          [title]="'Home'"
          [routerLink]="['/']"
        >
          <i class="bi bi-house-door-fill"></i>
          Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-body-emphasis fs-5"
          [title]="'Breed List'"
          [routerLink]="['/dog-list']"
        >
          <img width="20" height="20" src="assets/images/paw.svg" />
          Dog List</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link link-body-emphasis fs-5"
          [title]="'Breed List'"
          [routerLink]="['/breeds']"
        >
          <i class="bi bi-list"></i>
          Breed List</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-body-emphasis fs-5"
          [title]="'Staff List'"
          [routerLink]="['/staff-list']"
        >
          <i class="bi bi-person-fill"></i>
          Staff List</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-body-emphasis fs-5"
          [title]="'Session List'"
          [routerLink]="['/session-list']"
        >
          <i class="bi bi-card-list"></i>
          Session List</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-body-emphasis fs-5"
          [title]="'Session List'"
          [routerLink]="['/take-registration']"
        >
          <img width="20" height="20" src="assets/images/clipboard.svg" />
          Take A Register</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-body-emphasis fs-5"
          [title]="'Log Out'"
          [routerLink]="['/account-login']"
          (click)="logOut()"
        >
          <i class="bi bi-door-open"></i>
          Log out {{inloggedInUser.forename}}
        </a>
      </li>
    </ul>
  </header>
</div>
