<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">{{title}}</span>
      </a>

      <ul class="nav nav-pills mb-auto fs-5">
        <li class="nav-item text-white">
          <a
            class="nav-link link-body-emphasis"
            [title]="'Home'"
            [routerLink]="['/']"
          >
          
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
          </svg>
            Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-body-emphasis fs-5"
            [title]="'Breed List'"
            [routerLink]="['/dog-list']"
          >
          <img     width="20"
          height="20" src="assets/images/paw.svg">
            Dog List</a
          >
        </li>
      
        <li class="nav-item">
          <a
            class="nav-link link-body-emphasis fs-5"
            [title]="'Breed List'"
            [routerLink]="['/breeds']"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
          </svg>
            Breed List</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-body-emphasis fs-5"
            [title]="'Staff List'"
            [routerLink]="['/staff-list']"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>
            Staff List</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-body-emphasis fs-5"
            [title]="'Session List'"
            [routerLink]="['/session-list']"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
          </svg>
            Session List</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-body-emphasis fs-5"
            [title]="'Session List'"
            [routerLink]="['/take-registration']"
          >
          <img     width="20"
          height="20" src="assets/images/clipboard.svg">
            Take A Register</a
          >
        </li>
        <li *ngIf="loggedInUser" class="nav-item">
          <a
            class="nav-link link-body-emphasis fs-5"
            [title]="'Log Out'"
            [routerLink]="['#']"
            (click)="logOut()"
          >
          <img     width="20"
          height="20" src="assets/images/clipboard.svg">
            Log out {{loggedInUser.username}}                    
            </a
          >
        </li>
      </ul>
      
    </header>
  </div>

  