<div m-2>
  <h2 class="text-center">Take A Register</h2>
  <div class="row" *ngIf="!showSessions && showSelected">
    <div>
      <button type="button" class="btn btn-info" (click)="sessionControl()">
        Show Session Selection
      </button>
    </div>
  </div>

  <div class="row m-2 border" *ngIf="showSessions">
    <div class="row" *ngIf="showSessions && showSelected">
      <div>
        <button type="button" class="btn btn-info" (click)="sessionControl()">
          Hide Session Selection
        </button>
      </div>
    </div>

    <div class="col">
      <form class="needs-validation" (ngSubmit)="getSessions()" novalidate>
        <div class="row g-3">
          <h3 class="text-center">Date Selection</h3>
          <div class="col">
            <input
              type="Date"
              class="form-control"
              name="date"
              [(ngModel)]="date"
              (ngModelChange)="this.date = $event"
            />
          </div>
          <div class="col">
            <input type="submit" value="Select" class="btn btn-block" />
          </div>
          <div class="invalid-feedback">Valid date is required.</div>
        </div>
      </form>
    </div>
    <div  class="row" >
      <div class="col-6 border m-2">
        <h3 >Select a session:</h3>
        <ul class="list-group mb-2">
          <tr *ngFor="let session of sessions">
            <li class="list-group-item d-flex justify-content-between align-items-start" (click)="selectRegistrationSession(session)">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ session.sessionName }}</div>
                  {{ session.sessionDateTime | date : "dd/MM/yyyy HH:mm" }}
                </div>
                <!-- <span class="badge bg-primary rounded-pill">Number of dogs - need to do this</span> -->
              </li>
          </tr>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row border" *ngIf="showSelected">
  <div *ngIf="session" class="container">
    <h3 class="text-center">{{ session.sessionName }}</h3>
    <h4 class="text-center">{{ session.sessionDateTime | date:'dd/MM/yyyy HH:mm' }}</h4>
    <table class="table">
      <thead class="thead-dark">
        <th>Dog Name</th>
        <th>Status</th>
        <th>Note</th>
      </thead>

      <tbody>
        <tr *ngFor="let booking of bookingReg">
          <td>{{ booking.dog.forename }} {{ booking.dog.surname }}</td>
          <select
            class="form-select"
            name="registrationstatus"
            id="pregistrationstatusresent"
            [(ngModel)]="booking.registrationDetails.registrationStatus"
            required
          >
            <option *ngFor="let status of statuses" [value]="status">
              {{ status }}
            </option>
          </select>
          <td>
            <input
              type="text"
              name="note"
              id="text"
              [(ngModel)]="booking.registrationDetails.note"
              value="{{ booking.registrationDetails.note }}"
              placeholder="Note"
            />
          </td>
        </tr>
      </tbody>
      <button
        type="button"
        class="btn btn-success"
        (click)="saveRegistration()"
      >
        Update Registrations
      </button>
    </table>
  </div>
</div>
