<div class="container">
  <div class="row mt-2">
    <div class="col-4"></div>
  <div class="col-4 border rounded-pill bg-white">
    <h2 class="text-center">
      Take A Register
    </h2>
  </div>
  <div class="col-4"></div>
</div>
  <div class="row m-2 p-2 border rounded bg-white" *ngIf="showSessions || bookingReg.length ==0">
    <div class="row">
      <div class="col-2">
    <div *ngIf="showSessions && showSelected">
      <div>
        <button type="button" class="btn btn-info" (click)="sessionControl()">
          Hide Selector
        </button>
      </div>
    </div>
    </div>
    <div class="col">
    <h3 class="text-center">Session Selector</h3>
  </div>
    <div class="col-2"></div>
    </div>

    <div class="col">
      <form (ngSubmit)="selectRegistrationSession()">
        <div class="row g-3">
          <div class="col">
            <label for ="date" class="form-label">Date</label>

            <input
              type="Date"
              class="form-control"
              name="date"
              [(ngModel)]="date"
              (ngModelChange)="getformattedDate($event)"
            />

        </div>
        <div class="mt-2" *ngIf="sessions?.length" >
          <label for ="date" class="form-label">Session</label>
        <select name="session" id="session"  [(ngModel)]="sessionid" class="form-select">
          <option *ngFor="let session of sessions" value="{{ session.id }}">{{ session.sessionName }} {{ session.sessionDateTime | date : "dd/MM/yyyy HH:mm" }}</option>
        </select>
      </div>
      <div class="mb-2">
      <button class="btn btn-primary" type="submit" >Select</button>
    </div>
      </div>
      </form>
  </div>
</div>

<div class="row border rounded bg-white m-2 p-2" *ngIf="showSelected">
  <div class="row">
    <div *ngIf="bookingReg.length >0" class="col-2">
    <div *ngIf="!showSessions && showSelected">
      <button type="button" class="btn btn-info" (click)="sessionControl()">
        Show Selector
      </button>
    </div>
  </div>
  <div *ngIf="bookingReg.length >0" class="col">
    <h3 class="text-center">{{session.sessionName }}</h3>
    <h4 class="text-center">{{session.sessionDateTime | date:'dd/MM/yyyy HH:mm' }}</h4>
  </div>
  <div *ngIf="bookingReg.length ==0" class="col">
    <h3 class="text-center">No Registration Found Please Try again</h3>
  </div>
  <div *ngIf="bookingReg.length >0" class="col-2">
    <button type="button" class="btn btn-info" (click)="remainingAsPresent()">
      Mark Present
    </button>
  </div>
  </div>


    <div *ngIf="bookingReg.length >0" class="row">
    <table class="table table-bordered m-2 align-middle">
      <thead class="table-light">
        <th class="col-3">Dog Name</th>
        <th class="col-2">Status</th>
        <th class="col-7">Note</th>
      </thead>

      <tbody>
        <tr *ngFor="let booking of bookingReg">
          <td class="col-3">{{ booking.dog.forename }} {{ booking.dog.surname }}</td>
          <td class="col-2">
          <select
            class="form-select"
            name="registrationstatus"
            id="pregistrationstatusresent"
            [(ngModel)]="booking.registrationDetails.registrationStatus"
            required
          >
            <option *ngFor="let status of statuses" [value]="status">
              {{ status }}
            </option>
          </select>
        </td>
          <td class="col-7">
            <div class="input-group">
              <textarea class="form-control"
              type="text"
              name="note"
              id="text"
              [(ngModel)]="booking.registrationDetails.note"
              value="{{ booking.registrationDetails.note }}"
              placeholder="Note">
            </textarea>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div *ngIf="bookingReg.length >0"  class="row">
      <div>
      <button
        type="button"
        class="btn btn-success"
        (click)="saveRegistration()"
      >
        Update Registrations
      </button>
    </div>
  </div>
  </div>

